# dependencies
node_modules/

# build outputs
dist/
build/

# Vite cache
.vite/

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# IDE/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.sw?

# Typescript
*.tsbuildinfo
