# Python bytecode
__pycache__/
*.py[cod]

# Django migrations (if you prefer to commit them, omit this)
*/migrations/*.py
*/migrations/*.pyc

# virtualenv
venv/
.env/
.env.*

# database
*.sqlite3

# logs
*.log
logs/

# coverage reports
htmlcov/
.coverage

# pyenv
.python-version

# IDE/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
